html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background-color: black;
    color:white;
}

#mainNavBar {
    position: relative;
    border-collapse: collapse;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height: 50px;   
}

#mainNavBar li {
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    float:left;
    width:20%;
    height:inherit;
    box-shadow: 1px;
    -webkit-box-shadow: inset -1px -2px 28px 5px rgba(161,11,161,1);
    -moz-box-shadow: inset -1px -2px 28px 5px rgba(161,11,161,1);
    box-shadow: inset -1px -2px 28px 5px rgba(161,11,161,1);
    
}

#mainNavBar a {
    position:relative;
    display:block;
    width: 100%;
    height:30px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}